body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    font-size: 32px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0;
}

h1, h2 {
    color: #333;
}

/* nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
} */

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline overline #FF3028;;
}

#passwordPrompt {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* ... existing CSS styles ... */

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none; /* hide content by default */
}

.hidden {
    display: none;
}

